/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --gridGap: 11.375rem;
    --gridGapTop: calc(var(--headerHeight) + 2rem);
    counter-reset: item;
}
.pin-spacer {
    mix-blend-mode: difference;
}
body[data-pagetype="about"] main{
    padding-left: 0;
    padding-top: 0;
}
.aboutTitle{
    position: relative;
    padding-top: calc(var(--spaceY)/2);
    padding-left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.aboutTitle::before{
    content: '';
    background-image: url(../img/primary-line.svg);
    position: absolute;
    width: 4.5rem;
    height: var(--spaceY);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    top: 0;
    left: -3rem;
}
.aboutTitle h2 {margin-top: 0;margin-bottom: 0;}
/*=============ANCHOR LINKS================*/
section.logo-anchor-links {
    position: absolute;
    top: var(--headerHeight);
    mix-blend-mode: difference;
    width: var(--spaceLL);
    z-index: 2;
}
.logo-items h1 {
    font-family: var(--robotoFont);
    margin: 0;
    font-size: 8rem;
    color: var(--white);
    text-transform: uppercase;
    line-height: var(--headerHeight);
}
#aboutAnchorLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: var(--spaceX);
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    row-gap: .5rem;
    text-transform: capitalize;
}
#aboutAnchorLinks a {
    color: var(--white);
    font-weight: 300;
}
.logo-items {
    margin-left: var(--spaceX);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: difference;
}
/*=============ANCHOR LINKS================*/
/*=============ABOUT SLOGAN================*/
.paddingAboutX{
    padding-right: var(--spaceX);
    padding-left: var(--spaceLL);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.paddingAboutL{
    padding-right: var(--spaceL);
    padding-left: var(--spaceLL);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
section.aboutSloganContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--gridGap) 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--gridGap);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: var(--headerHeight);
}

.aboutVideoWrap {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
}

.aboutVideoWrap video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.aboutSloganInfo {
    position: relative;
    width: 100%;
}

.aboutSloganInfo h2 {
    margin: 0;
}

.aboutSloganInfo .content {
    margin-top: 8rem;
}
/*=============ABOUT SLOGAN================*/
/*=============WHY US================*/
section.whyUsContainer {
    padding-top: var(--gridGapTop);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--gridGap) 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: var(--gridGap);
}

.whyUsTitle h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.aboutAnchorLinksWrap {
    padding-right: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 2rem;
    width: var(--spaceLL);
}

.aboutAnchorLinksWrap img {margin-left: auto;margin-right: 0;display: block;width: 100%;height: var(--spaceY);}

.whyUsDescription {
    padding-top: calc(var(--spaceY)/2);
}

.aboutTitle h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.descriptionSteps {
    margin-bottom: 2rem;
    position: relative;
}

.descriptionSteps p {
    margin: 0;
    text-align: justify;
}

.descriptionSteps:last-child {
    margin: 0;
}
.descriptionSteps::before {
    content: counter(item, decimal-leading-zero);
    counter-increment: item;
    font-size: 3rem;
    position: absolute;
    font-family: var(--robotoFont);
    left: 0;
    top: 0;
    -webkit-transform: translate(-124%,-41%);
    -ms-transform: translate(-124%,-41%);
    transform: translate(-124%,-41%);
    font-weight: 700;
}

.descriptionSteps:nth-of-type(3) {
    -webkit-transform: translateX(calc(var(--spaceX) * -1));
    -ms-transform: translateX(calc(var(--spaceX) * -1));
    transform: translateX(calc(var(--spaceX) * -1));
}

.descriptionSteps:nth-of-type(4) {
    -webkit-transform: translateX(calc(var(--spaceX)* -2));
    -ms-transform: translateX(calc(var(--spaceX)* -2));
    transform: translateX(calc(var(--spaceX)* -2));
}
.descriptionSteps h3 {
    font-size: 1rem;
}
.descriptionSteps:nth-of-type(5),.descriptionSteps:nth-of-type(6) {
    -webkit-transform: translateX(calc(var(--spaceX)* -3));
    -ms-transform: translateX(calc(var(--spaceX)* -3));
    transform: translateX(calc(var(--spaceX)* -3));
}
.descriptionSteps:nth-of-type(6)::after {
    content: '';
    background-image: url(../img/primary-line.svg);
    position: absolute;
    width: 4.5rem;
    height: var(--spaceY);
    background-repeat: no-repeat;
    background-size: contain;
    right: -5rem;
    bottom: -1rem;
}
/*=============WHY US================*/
/*==========MISSION & VISION============*/
.missionVisionWrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--gridGap) 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--gridGap);
}

section.missionVisionContainer {
    padding-top: var(--gridGapTop);
}
.mySlides {display: none;}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}
.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.missionVisionSliderWrapper {
    width: 100%;
    height: calc(100vh - var(--headerHeight));
}

.mySlides {
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.missionVisionContent {
    margin-bottom: 4rem;
}

.missionVisionContent h3 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.missionVisionContent p {
    margin: 0;
    text-align: justify;
}
.missionVisionInfoWrapper::before{
    content: '';
    background-image: url(../img/primary-line.svg);
    position: absolute;
    width: 4.5rem;
    height: var(--spaceY);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    bottom: 0;
    right: 0;
}
.missionVisionInfoWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: calc(var(--spaceY) + 1rem);
}

.missionVisionContent:last-child {
    margin: 0;
}
/*==========MISSION & VISION============*/
/*==========STATEMENT============*/
.statementWrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .5fr;
    grid-template-columns: 1fr .5fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.statementSliderWrapper {
    height: calc(100vh - var(--headerHeight));
    width: 100%;
    position: relative;
}
.statementSliderWrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.statementSliderWrapper .swiper {
    width: 100%;
    height: 100%;
}
.statementWrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 9.75rem .2fr;
    grid-template-columns: 1fr .2fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 9.75rem;
}
.statementSliderWrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.statementSliderWrapper .swiper {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
}
.statementInfoWrapper {
    position: relative;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: var(--gridGap);
    -moz-column-gap: var(--gridGap);
    column-gap: var(--gridGap);
}
.statementSliderWrapper .swiper-pagination {
    left: 0;
}

.statementSliderWrapper .swiper-pagination span.swiper-pagination-bullet {
    height: 10px;
    width: 6px;
    border-radius: 0;
    border: 1px solid var(--gray);
    background-color: transparent;
    opacity: 1;
}
section.statementContainer {
    padding-top: var(--gridGapTop);
}
.statementSliderWrapper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--gray);
}
/*==========STATEMENT============*/
/*==========FOUNDER============*/
section.founderContainer {
    position: relative;
    width: 100%;
    padding-top: var(--gridGapTop);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--gridGap) 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--gridGap);
}
.founderVideoWrapper {
    position: relative;
    width: 100%;
    height: 80vh;
}

.founderVideoWrapper video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#playFounder {
    position: absolute;
    width: 10.636rem;
    height: 10.636rem;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transform-box: fill-box;
}

#playFounder img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#playFounder img:first-child {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-animation: rotateR 10s linear infinite;
    animation: rotateR 10s linear infinite;
}

@-webkit-keyframes rotateR{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}

@keyframes rotateR{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
#playFounder:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    -ms-transform: translate(-50%, -50%) scale(1.15);
    transform: translate(-50%, -50%) scale(1.15);
}
.founderContent {
    margin-top: 2rem;
}
/*==========FOUNDER============*/
/*==========TEAM============*/
section.teamContainer {
    position: relative;
    width: 100%;
    display: block;
    padding-top: var(--gridGapTop);
}

section.teamContainer .aboutTitle {
    margin-bottom: 3.75rem;
}

.teamWrapper {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.5rem;
}

.teamWrap {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: block;
}

.teamMedia {
    width: 100%;
    height: 100%;
}

.teamMedia img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.teamInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0;
    z-index: 1;
    mix-blend-mode: difference;
    color: var(--white);
}

.teamWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0;
}

.teamInfo h3 {
    position: relative;
    font-family: var(--robotoFont);
    margin-bottom: 0;
    font-size: 1.5rem;
}

.teamInfo span {
    position: relative;
    z-index: 1;
    font-family: var(--robotoFont);
}
.teamWrap:hover .teamInfo {
    opacity: 1;
}

.teamWrap:hover::before {
    opacity: 1;
    -webkit-transition-duration: 7s;
    -o-transition-duration: 7s;
    transition-duration: 7s;
}
/*==========TEAM============*/
/*=========FULL IMAGE==========*/
section.aboutOfficeContainer {
    width: 100%;
    height: 135vh;
    margin-top: 3.75rem;
}
section.aboutOfficeContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
/*=========FULL IMAGE==========*/
/*===========AWARDS============*/
section.awardsContainer {
    position: relative;
    width: 100%;
    display: block;
    padding-top: var(--gridGapTop);
    padding-right: 0;
}
section.awardsContainer .aboutTitle {
    margin-bottom: 5.625rem;
}
.awardsWrapper {
    position: relative;
    width: 100%;
    display: block;
}
.awardsWrap {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0;
}
.awardsWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    top: 0;
    right: 0;
}

.awardsWrap > span {
    position: absolute;
    width: 103%;
    height: 50%;
    right: 0;
    background-color: var(--primary);
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.awardsWrap p {
    margin: 0;
    position: relative;
    z-index: 1;
}

.awardTitleLink {
    position: relative;
    z-index: 1;
}

.awardTitleLink p {
    margin-bottom: 1rem;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.award-image {
    width: 6.75rem;
    height: 4.938rem;
    position: relative;
    z-index: 1;
}

.award-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.awardsWrap > span:first-child {
    top: 0;
    z-index: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.awardsWrap > span:nth-of-type(2) {
    bottom: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

.awardsWrap:hover span {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.awardsWrap:hover .awardTitleLink p {
    color: var(--white);
}

.awardTitleLink img {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.awardsWrap:hover .awardTitleLink img {
    -webkit-filter:brightness(0) invert(1);
    filter:brightness(0) invert(1);
}
.awardsWrap:hover .award-desc {
    color: var(--white);
}

.award-desc {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
/*===========AWARDS============*/
/*==========THE FUTURE===========*/
section.theFutureContainer {
    position: relative;
    width: 100%;
    display: block;
    padding-top: var(--gridGapTop);
}
.theFeatureContent {
    margin-top: 4.5rem;
    width: 50%;
    margin-bottom: 7.438rem;
}
.theFeatureContent p {
    margin-top: 0;
}
.scrolling-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}
.scrolling-wrap .comm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    -webkit-animation: scroll 35s linear infinite;
    animation: scroll 35s linear infinite;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    gap: 1rem;
}
.scrolling-wrap:last-child .comm{
    -webkit-animation: scrollR 35s linear infinite;
    animation: scrollR 35s linear infinite;
    margin-top: 1rem;
}
.scrolling-wrap:hover .comm {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100% - 1rem));
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100% - 1rem));
        transform: translateX(calc(-100% - 1rem));
    }
}
@-webkit-keyframes scrollR {
    0% {
        -webkit-transform: translateX(calc(-100% - 1rem));
        transform: translateX(calc(-100% - 1rem));
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes scrollR {
    0% {
        -webkit-transform: translateX(calc(-100% - 1rem));
        transform: translateX(calc(-100% - 1rem));
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
figure.theFeatureGalleryWrap {
    margin: 0;
    height: 32vh;
    position: relative;
    width: 28vw;
}

figure.theFeatureGalleryWrap .galleryMedia {
    position: relative;
    width: 100%;
    height: 100%;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 2.188rem 2.188rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
    opacity: 0;
}

figcaption p.title {
    margin: 0;
    font-size: 1rem;
    color: var(--white);
}

figcaption span {
    color: var(--white);
    font-size: .75rem;
}

figure.theFeatureGalleryWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: multiply;
    -webkit-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
    opacity: 0;
}

figure.theFeatureGalleryWrap:hover figcaption {
    opacity: 1;
}

figure.theFeatureGalleryWrap:hover::before {
    opacity: 1;
}
.galleryMedia img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
/*==========THE FUTURE===========*/
/*==========PROJECT LINK============*/
section.projectsLink {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 43.188rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
section.projectsLink a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
}

section.projectsLink a span {
    font-size: 8rem;
    font-family: var(--robotoFont);
    text-transform: uppercase;
}

section.projectsLink a img {
    margin-top: 37px;
    width: 2.375rem;
    height: 2.375rem;
}
/*==========PROJECT LINK============*/
/*==========MODAL VIDEO============*/
#videoModal {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 101;
    height: 100vh;
    left: 0;
    pointer-events: none;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    opacity: 0;
}

#videoModal .videoContainer {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 0;
}

#closeModalVideo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    mix-blend-mode: difference;
}

#videoModal .videoContainer video#modalVideo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#closeModalVideo span {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}
#videoModal.show {
    opacity: 1;
    pointer-events: auto;
}
/*==========MODAL VIDEO============*/