/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gm-style .gm-style-iw-d {padding-left: 4px;}

.gm-style .gm-style-iw-d a {
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--primary);
}
.projectHeader-container .mapView_icon.desktop {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 1;
}
.projectHeader-container .mapView_icon.mobile {
    display: none;
    cursor: pointer;
    margin-bottom: 0;
    text-align: right;
}
.projectHeader-container .mapView_icon > * {
    text-transform: capitalize;
    font-size: .75rem;
}
.projectBody-container {
    margin-top: 2rem;
    margin-bottom: 8rem;
    overflow: hidden;
    position: relative;
}

.projectItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100vw - var(--spaceL) - var(--spaceX));
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: .75rem;
}

.projectItem {
    position: relative;
    display: block;
    width: calc((100vw - var(--spaceL) - var(--spaceX)) / 4 - (.75rem * 3/4));
    height: calc((100vw - var(--spaceL) - var(--spaceX)) / 4 - (.75rem * 3/4));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.projectItem .image {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
.projectItem.skeleton::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: -o-linear-gradient(350deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
    background-size: 200% 100%;
    background-position-x: 180%;
    -webkit-animation: 1s loading ease-in-out infinite;
    animation: 1s loading ease-in-out infinite;
}
@-webkit-keyframes loading {
    to {
        background-position-x: -20%
    }
}

@keyframes loading {
    to {
        background-position-x: -20%
    }
}
.projectItem .image > * {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.projectItem .coming-soon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: hsl(153deg 55% 28% / 10%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2.5rem;
    opacity: 0;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
.projectItem .coming-soon > * {
    font-size: .85rem;
}
.deactive-link.deactive-link-motion .info ,
.deactive-link.deactive-link-motion .image {
    opacity: 0
}
.deactive-link.deactive-link-motion .coming-soon {
    -webkit-animation: .55s ease-in-out 2 commingsoon;
    animation: .55s ease-in-out 2 commingsoon
}
@-webkit-keyframes commingsoon {
    0%,to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes commingsoon {
    0%,to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}
.projectItem .info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--white);
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
.projectItem .info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1FA066;
    mix-blend-mode: multiply;
    z-index: 0;
}
.projectItem .info > * {
    z-index: 1;
}
.projectItem .info .name {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.projectItem .info .dateLoc {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    text-transform: capitalize;
}
#mapProjectsContainer {
    position: fixed;
    top: var(--headerHeight);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
    z-index: 100;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    pointer-events: none;
}

#mapProjects {
    position: relative;
    width: 100%;
    height: 100%;
}
#mapProjectsContainer.show {
    opacity: 1;
    pointer-events: auto;
}
#closeMap {
    position: absolute;
    background-color: var(--white);
    color: var(--primary) ;
    border-radius: 3.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    padding: 6px 13px;
    top: 2rem;
    font-size: 0.75rem;
    cursor: pointer;
    top: 2rem;
    right: var(--spaceS);
}

#closeMap img {
    width: 8px;
    height: 8px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#closeMap span {
    margin-bottom: 2px;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    .projectBody-container {
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .projectItems {
        width: calc(100vw - var(--spaceX) * 2);
    }
    .projectItem {
        width: calc(100vw - var(--spaceX)* 2);
        height: calc(100vw - var(--spaceX)* 2);
    }
    .projectHeader-container .mapView_icon.desktop {
        display: none;
    }
    .projectHeader-container .mapView_icon.mobile {
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        padding: .5rem .5rem .5rem 1.5rem;
    }
    .projectHeader-container .mapView_icon.mobile > * {
        position: relative;
    }
    .projectHeader-container .mapView_icon.mobile > *:before {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -1.5rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/location-icon.svg);
    }
    #closeMap {
        right: var(--spaceX);
    }
    #mapProjectsContainer{
        top: 0;
    }
    body.scrollingDown #mapProjectsContainer ,
    body.scrollEnd #mapProjectsContainer{
        height: 100vh;
    }
    body.noMove.scrollingDown #mapProjectsContainer{
        height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
    }
}
@media only screen and (min-width: 640px) and (max-width:768px) {
    .projectItem {
        width: calc((100vw - var(--spaceX)* 2) / 2 - (.75rem* 1 / 2));
        height: calc((100vw - var(--spaceX)* 2) / 2 - (.75rem* 1 / 2));
    }
}
@media only screen and (min-width: 769px) and (max-width:1199px) {
    .projectBody-container {
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }
    .projectItem {
        width: calc((100vw - var(--spaceL) - var(--spaceX)) / 3 - (.75rem* 2 / 3));
        height: calc((100vw - var(--spaceL) - var(--spaceX)) / 3 - (.75rem* 2 / 3));
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .projectBody-container {
        margin-bottom: 6rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {}