/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body[data-pagetype="archiveProject"] main {
    padding-right: var(--spaceL);
}
.projectHeader-container .mapView_icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
}
.projectHeader-container .mapView_icon > * {
    text-transform: capitalize;
    font-size: .75rem;
}
.projectBody-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    overflow: hidden;
    position: relative;
}

.projectItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100vw - var(--spaceL) * 2);
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: .75rem;
}

.projectItem {
    position: relative;
    display: block;
    width: calc((100vw - var(--spaceL) * 2) / 4 - (.75rem * 3/4));
    height: calc((100vw - var(--spaceL) * 2) / 4 - (.75rem * 3/4));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.projectItem .image {
    width: 100%;
    height: 100%;
}

.projectItem .image > * {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.projectItem .info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--white);
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
.projectItem .info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1FA066;
    mix-blend-mode: multiply;
    z-index: 0;
}
.projectItem .info > * {
    z-index: 1;
}
.projectItem .info .name {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.projectItem .info .dateLoc {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    text-transform: capitalize;
}
#mapProjectsContainer {
    position: fixed;
    top: var(--headerHeight);
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    z-index: 100;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    pointer-events: none;
}
#mapProjects {
    position: relative;
    width: 100%;
    height: 100%;
}
#mapProjectsContainer.show {
    opacity: 1;
    pointer-events: auto;
}
#closeMap {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 3.75rem;
    align-items: center;
    display: flex;
    column-gap: .5rem;
    padding: 6px 13px;
    top: 2rem;
    font-size: 0.75rem;
    cursor: pointer;
    top: 2rem;
    right: var(--spaceS);
}

#closeMap img {
    width: 8px;
    height: 8px;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transform: rotate(180deg);
}

#closeMap span {
    margin-bottom: 2px;
    text-transform: uppercase;
}
#see-more {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, .4);
}

#see-more > * {
    display: block;
    text-align: center;
    padding: 5rem 0 2rem;
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
}
@media only screen and (max-width: 768px) {}
@media only screen and (min-width: 640px) and (max-width:768px) {}
@media only screen and (min-width: 769px) and (max-width:1199px) {}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .projectBody-container {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {}