/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body[data-pagetype="contact"] main {}
section.contactInfoMapFormContainer {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 11.5rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 11.5rem;
    padding-top: 13rem;
    margin-bottom: 9.188rem;
}
.contactInfoMapContainer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contactInfoMapContainer::before{
    content: '';
    background-image: url(../img/secondary-line.svg);
    width: var(--spaceL);
    position: absolute;
    height: 6.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1rem;
    top: -1rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.contactInfoWrap {
    display: block;
    margin-bottom: 1rem;
}

.contactInfoWrap span.title {
    display: block;
    text-transform: capitalize;
}
.contactInfoWrap.address {
    width: 60%;
    margin-bottom: 2rem;
}

.contactSocialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: .875rem;
    -moz-column-gap: .875rem;
    column-gap: .875rem;
    margin-bottom: 2.5rem;
}

.ContactMapContainer {
    width: 100%;
    height: 38vh;
}

.ContactMapContainer > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
h1.contact_title {
    margin: 0;
    text-transform: uppercase;
    text-align: right;
    font-size: 8rem;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: -1rem;
    line-height: normal;
    opacity: 0;
    -webkit-transform: translate(-20px, 30px);
    -ms-transform: translate(-20px, 30px);
    transform: translate(-20px, 30px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
}
.contactInfoWrapper {
    opacity: 0;
    -webkit-transform: translate(-20px, 30px);
    -ms-transform: translate(-20px, 30px);
    transform: translate(-20px, 30px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
}
.contactFormSliderContainer {
    opacity: 0;
    -webkit-transform: translate(-20px, 30px);
    -ms-transform: translate(-20px, 30px);
    transform: translate(-20px, 30px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
}
html.loadingDone h1.contact_title{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s;
}
html.loadingDone .contactInfoWrapper{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
html.loadingDone .contactFormSliderContainer{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 1.25s;
    -o-transition-delay: 1.25s;
    transition-delay: 1.25s;
}
.contactFormContainer {
    position: relative;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 2.625rem;
}
form .textTypeInput {
    position: relative;
    margin-bottom: .5rem;
}

form .textTypeInput input {
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    margin-bottom: .875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .textTypeInput::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url(../img/Union.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
form .textTypeInput textarea {
    padding-left: 2rem;
    margin-bottom: .875rem;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
form .textTypeInput input::-webkit-input-placeholder,form .textTypeInput textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--gray);
}
form .textTypeInput input::-moz-placeholder,form .textTypeInput textarea::-moz-placeholder { /* Firefox 19+ */
    color: var(--gray);
}
form .textTypeInput input:-ms-input-placeholder,form .textTypeInput textarea:-ms-input-placeholder { /* IE 10+ */
    color: var(--gray);
}
form .textTypeInput input:-moz-placeholder,form .textTypeInput textarea:-moz-placeholder { /* Firefox 18- */
    color: var(--gray);
}
.checkBoxWrapper {
    position: relative;
    margin-bottom: 1.313rem;
    padding-bottom: 2rem;
}

.checkBoxWrapper span {
    margin-bottom: 1.313rem;
    display: block;
    padding-left: 2rem;
    font-style: italic;
}

.checkboxWrap {
    position: relative;
    padding-left: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    grid-row-gap: .75rem;
}

.form-group {
    display: block;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    color: var(--primary);
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    /* border: 2px solid var(--black); */
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 4px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 2px;
    height: 9px;
    border: solid var(--primary);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkBoxWrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url(../img/Union.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
form .submitForm {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primary);
    width: 50%;
    border-radius: 3.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 1.6rem;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    border: 2px solid var(--primary);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .submitForm input[type="submit"] {
    color: var(--white);
    text-transform: capitalize;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

form .submitForm svg {
    position: absolute;
    left: 37%;
}

form .submitForm:hover svg path {fill: var(--primary);}

form .submitForm svg path {
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

form .submitForm:hover input[type="submit"] {color: var(--primary);}

form .submitForm:hover {
    background-color: var(--white);
}
.toggle-container {
    -webkit-transition: height 0.35s ease-in-out;
    -o-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
    overflow: hidden;
}
.toggle-container:not(.active) {
    display: none;
}
.dropdownHeader.active span::before {
    -webkit-transform: translate(-145%, -50%) rotate(180deg);
    -ms-transform: translate(-145%, -50%) rotate(180deg);
    transform: translate(-145%, -50%) rotate(180deg);
}
section.faq-contactSlider-container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 11.5rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 11.5rem;
}
.accordion {
    position: relative;
    margin-top: 4rem;
}

.accordion-item {
    position: relative;
    padding-left: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.875rem;
    padding-bottom: 0.5rem;
}
.accordion-item::before {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url(../img/Union.svg);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}
.dropdownHeader {
    min-height: 2rem;
    cursor: pointer;
    position: relative;
    padding-right: .75rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dropdownHeader span {font-weight: 700;}
.dropdownHeader::before {
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
}
.dropdownHeader.active::before {
    content: '-';
}
.dropdownBody .content {
    padding-bottom: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contactSlider {
    width: 100%;
    height: calc(100vh - var(--headerHeight));
}
.mySlides {display: none;}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}
.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.mySlides {
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.dropdownBody {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease; /* Smooth transition */
}
.accordion-item {
    /* Prevent overflow during transition */
}
.dropdownHeader {
}
.dropdownBody {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease; /* Smooth transition */
}
.active .dropdownBody {
    max-height: 100vh; /* Arbitrary large value */
}
.videoWrapper {
    width: 100%;
    height: 38vh;
    position: relative;
}

.videoWrapper > * {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.contactCTAWrap {
    position: absolute;
    right: 0;
    background-color: var(--primary);
    padding: 0.45rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    border-radius: 3.75rem;
    font-size: 0.75rem;
    color: var(--white);
    border: 2px solid var(--primary);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contactCTAWrap span {
    display: inline-block;
    font-weight: 400;
}

.contactCTAWrap:hover {
    color: var(--primary);
    background-color: var(--white);
}
.contactVideoWrapper .titleWrap {
    margin-bottom: 3rem;
}
.founderContent {
    margin-top: 2rem;
}
:root{
    counter-reset: item;
}
/*==========MODAL VIDEO============*/
#videoModal {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 101;
    height: 100vh;
    left: 0;
    pointer-events: none;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    opacity: 0;
}
#videoModal .videoContainer {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 0;
}

#closeModalVideo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    mix-blend-mode: difference;
}

#videoModal .videoContainer video#modalVideo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#closeModalVideo span {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}
#videoModal.show {
    opacity: 1;
    pointer-events: auto;
}
/*==========MODAL VIDEO============*/
/*==========PROGRESS BAR============*/
section.contactStepsContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepsWrapper {
    width: calc(var(--space)*6);
}

.stepWrap:nth-of-type(even) {
    margin-left: auto;
}

.stepWrap {
    margin-bottom: 7.188rem;
    width: 70%;
}

.stepWrap h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
}

.stepWrap:last-child {
    margin-bottom: 0;
}

p.subtitle {
    font-weight: bold;
}

.stepWrap:nth-of-type(even) p.subtitle {
    text-align: right;
}

.stepWrap:nth-of-type(even) .content {
    text-align: right;
}

.stepWrap h2::before {
    content: counter(item, decimal-leading-zero);
    counter-increment: item;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    margin-right: 18px;
    font-variant-numeric: slashed-zero;
}
.stepWrap .content p {
    margin-top: 0;
}
#numbers{
    font-weight:600;
    color: #444444;
    width: calc(100vh - var(--headerHeight) - 10rem);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    height: 8px;
    border-bottom: 1px solid var(--black);
    margin-left: 5px;
}
.progressWrap {
    position: relative;
    height: 100%;
    width: 8px;
    margin: auto;
    overflow: hidden;
}
.progressBar {
    width: var(--spaceL);
    position: sticky;
    top: var(--headerHeight);
    left: 0;
    height: calc(100vh - var(--headerHeight));
}
.number-percentage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 8rem;
    font-weight: 700;
    height: 9rem;
}
progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px transparent inset;
    box-shadow: 0 2px 5px transparent inset;
}
/*==========PROGRESS BAR============*/
@media only screen and (max-width: 768px) {
    .contactInfoWrapper {
        margin-bottom: 3rem;
    }
    form .submitForm svg {
        left: 30%;
    }
    .contactSlider {
        height: 45vh;
    }

    .contactFormContainer {
        padding-top: 4rem;
    }
    .contactInfoMapContainer {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .contactInfoMapContainer::before {
        display: none;
    }
    .contactInfoWrapper > div {
        padding-left: var(--spaceL);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ContactMapContainer {
        padding-left: 0 !important;
        width: calc(100% + var(--spaceX)*2);
        margin-left: calc(var(--spaceX)*-1);
    }
    section.contactInfoMapFormContainer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-top: 0;
        /* padding-left: var(--spaceL); */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 5.188rem;
    }

    h1.contact_title {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        font-size: 2.5rem;
        padding-left: var(--spaceL);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        white-space: pre-line;
        margin-bottom: 2rem;
    }

    .contactCTAWrap {
        position: relative;
        margin-left: var(--spaceL);
        margin-bottom: 1.5rem;
    }
    h1.contact_title::before{
        content: '';
        background-image: url(../img/secondary-line.svg);
        width: 7rem;
        position: absolute;
        height: 6.188rem;
        background-size: contain;
        background-repeat: no-repeat;
        left: 0;
        top: 11px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-3.5rem);
        background-position: top;
    }
    .number-percentage {
        font-size: 1.6rem;
        height: 4rem;
    }

    .stepsWrapper {
        width: 78%;
    }

    .progressBar {
        width: 18%;
        overflow: hidden;
        top: calc(var(--headerHeight)*.25);
    }

    .stepWrap {
        margin-bottom: 2.5rem;
        width: 100%;
    }

    .stepWrap:nth-of-type(even) p.subtitle , .stepWrap:nth-of-type(even) .content {
        text-align: left;
    }

    #numbers {
        width: calc(100vh - var(--headerHeight)*2 - 2rem);
    }

    .stepWrap h2 {
        font-size: 2rem;
    }

    .stepWrap h2::before {
        font-size: 2rem;
    }
    .contactVideoWrapper .titleWrap {
        margin-bottom: 3rem;
    }

}
@media only screen and (min-width: 640px) and (max-width:768px) {
    .contactVideoWrapper .titleWrap {
        margin-bottom: 3rem;
    }
    form .submitForm {
        width: 30%;
    }
}
@media only screen and (min-width: 769px) and (max-width:1199px) {
    h1.contact_title {
        font-size: 5rem;
    }
    form .submitForm svg {
        left: 30%;
    }
    section.contactInfoMapFormContainer {
        grid-column-gap: 5rem;
        padding-top: 9rem;
        margin-bottom: 5.188rem;
    }

    .contactCTAWrap {
        padding: 0.45rem 2rem;
        position: relative;
        right: auto;
        width: 70%;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .contactInfoMapContainer::before {
        top: 2rem;
    }

    .ContactMapContainer {
        height: 19vh;
    }

    .contactSlider {
        height: 48vh;
    }

    .videoWrapper {
        height: 20vh;
    }
    .stepsWrapper {
        width: calc(var(--space)* 10);
    }

    .number-percentage {
        font-size: 6rem;
        height: 8rem;
    }

    .stepWrap {
        width: 100%;
        margin-bottom: 6.188rem;
    }

    .stepWrap h2,.stepWrap h2::before {
        font-size: 2.8rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    h1.contact_title {
        font-size: 6rem;
    }

    .contactFormContainer {
        padding-top: 6rem;
    }

    section.contactInfoMapFormContainer {
        grid-column-gap: 9.5rem;
        padding-top: 10rem;
        margin-bottom: 8.188rem;
    }

    .contactInfoWrap {
        font-size: .9rem;
    }

    .contactCTAWrap {
        padding: 0.35rem 3rem;
    }

    .number-percentage {
        font-size: 6rem;
        height: 7rem;
    }

    #numbers {
        width: calc(100vh - var(--headerHeight) - 8.5rem);
    }

    .stepWrap h2 {
        font-size: 2.4rem;
    }

    .stepWrap h2::before {
        font-size: 2.4rem;
    }

    .stepWrap .content,p.subtitle {
        font-size: .9rem;
    }
    .stepWrap {
        margin-bottom: 4.188rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {
    h1.contact_title {
        font-size: 6rem;
    }
    section.contactInfoMapFormContainer {
        grid-column-gap: 8.5rem;
        padding-top: 11rem;
        margin-bottom: 7.188rem;
    }

    .number-percentage {
        font-size: 7rem;
        height: 8rem;
    }

    .stepWrap h2,.stepWrap h2::before {
        font-size: 2.8rem;
    }

    .stepWrap {
        margin-bottom: 5.188rem;
    }
    #numbers {
        width: calc(100vh - var(--headerHeight) - 9rem);
    }
}