/*========HEADER==========*/
header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 var(--spaceX);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: var(--headerHeight);
    /*background: #1FA0661A;*/
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(255,255,255,.1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
}
body.opMenu header {
    background-color: var(--white);
}
header .identity {
    display: block;
    height: 2rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
header .identity img.logo-img {
    width: 2rem;
}

header .identity img.logo-text {
    width: 13rem;
}
header .identity img  {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    object-position: left;
    transition: all ease-in-out .4s;
}
body.scrollingDown header .identity img.logo-text {
    opacity: 0;
}
header .menu-icon a {
    display: inline-block;
    font-size: .745rem;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}


header nav ul li a::before {
    content: '';
    background-image: url(../img/link.svg);
    width: .5rem;
    height: .5rem;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-1.1rem, 0.3rem);
    -ms-transform: translate(-1.1rem, 0.3rem);
    transform: translate(-1.1rem, 0.3rem);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0;
    -webkit-transition: opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s, -webkit-filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, -webkit-transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s;
    transition: opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s, -webkit-filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, -webkit-transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s;
    -o-transition: opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s, filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s;
    transition: opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s, filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s;
    transition: opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s, filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s, -webkit-filter cubic-bezier(0.18, 0.89, 0.32, 1.28) .6s .1s, -webkit-transform cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s .0s;
}
header nav ul li a:hover::before {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translate(-0.8rem, -0.3rem);
    -ms-transform: translate(-0.8rem, -0.3rem);
    transform: translate(-0.8rem, -0.3rem);
}
header .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15rem;
}
header .menu-icon .quickMenu nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
}
header .menu-icon .icon {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 5vw;
    height: 1rem;
}
header .menu-icon .icon:before ,
header .menu-icon .icon:after{
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%)rotate(30deg);
    -ms-transform: translateY(-50%)rotate(30deg);
    transform: translateY(-50%)rotate(30deg);
    width: 1px;
    height: 1rem;
    background-color: var(--black);
}
header .menu-icon .icon:before{
    left: 5px;
}
header .menu-icon .icon:after{
    right: 5px;
}
header .menu-icon .icon > * {
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    -o-transition: transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}
header .menu-icon .icon > *.close {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
body.opMenu header .menu-icon .icon > *.close {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
body > main , body > footer {
    transition: all ease-in-out .5s;
}
body.opMenu > main , body.opMenu > footer {
    /* transform: scale(.8); */
}

body.opMenu header .menu-icon .icon > *.menu {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.startProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.startProject.mobile{
    display: none;
}
.startProject a {
    position: relative;
    background-color: var(--primary);
    color: var(--white);
    padding: .5rem 1.5rem .5rem 2.5rem;
    border-radius: 1.5rem;
    font-size: .75rem;
    line-height: 1;
    text-transform: capitalize;
}

.startProject a:before {
    content: '';
    background-image: url(../img/link.svg);
    width: .5rem;
    height: .5rem;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: .75rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-filter: invert(1);
    filter: invert(1);
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
.startProject a:hover:before {
    -webkit-transform: translate(.75rem, -90%);
    -ms-transform: translate(.75rem, -90%);
    transform: translate(.75rem, -90%);
}

/*========HEADER==========*/
/*=============new menuContainer===============*/
#menuContainer {
    position: fixed;
    top: var(--headerHeight);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
    transform: translateY(calc(-100% - var(
    --headerHeight)));
    overflow: hidden;
    /* overflow-y: auto; */
    background-color: var(--white);
    /* padding: 5rem 0; */
    box-sizing: border-box;
    /* top: 0; */
}

body.opMenu #menuContainer {
    pointer-events: auto;
    transform: translateY(0);
}
#menuContainer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0deg 0% 100% / 85%);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: -1;
    opacity: 0;
}
#menuContainer .extraLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: auto;
    position: absolute;
    right: var(--spaceX);
    bottom: 2rem;
    top: auto;
    width: var(--spaceLL);
    z-index: 3;
}
#menuContainer .extraLinks .extraLinks-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#menuContainer .extraLink-item > * {
    display: block;
    font-size: 0.625rem;
    text-transform: capitalize;
}

#menuContainer .extraLink-item > a {
    color: var(--primary);
    padding-left: 1.625rem;
    margin: .5rem 0 0 0;
    position: relative;
}

#menuContainer .extraLink-item > a:before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--primary);
}
#menuContainer .extraLink-item > a:after{
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    top: 50%;
    left: .28rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../img/link.svg");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: invert(1);
    filter: invert(1);
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
#menuContainer .extraLink-item.coordination > * {
    color: var(--primary);
}

#menuContainer .extraLink-item > a:hover:after {
    -webkit-transform: translate(15% ,-65%);
    -ms-transform: translate(15% ,-65%);
    transform: translate(15% ,-65%);
}
.menu-list {
    list-style: none;
    margin: 0;
    z-index: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: var(--headerHeight);
    overflow: hidden;
    /* overflow-y: auto; */
    padding-right: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subMenuContainer {
    position: absolute;
    left: 50vw;
    top: 50%;
    height: 70vh;
    transform: translateY(calc(-50% - var(--headerHeight)*.5));
    width: 50vw;
    z-index: 2;
}
.subMenuContainer .subMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .4s;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.subMenuContainer .subMenu.active {
    opacity: 1;
    pointer-events: auto;
}
.subMenuContainer .subMenu.show {
    opacity: 1;
    pointer-events: auto;
}
.subMenuContainer .subMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list::-webkit-scrollbar {
    width: 6px;
}
.menu-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--white);
    box-shadow: inset 0 0 6px var(--white);
}
.menu-list::-webkit-scrollbar-thumb {
    background-color: var(--black);
    outline: 1px solid var(--black);
    border-radius: 10px;
}
.menu-list .menu-link .image_rev {
    position: absolute;
    width: 220px;
    height: 280px;
    object-fit: cover;
    /* transform: translateX(-50%) translateY(-50%); */
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    will-change: opacity,transform;
}

.item-title {
    font-size: 3rem;
    width: auto;
    word-break: break-word;
    display: inline-block;
    /* line-height: 1.2; */
    pointer-events: auto;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s;
}
.item-title.show {
    color: var(--primary);
}
.menu-list .menu-link.active {
    color: var(--secondary);
}
.menu-list .menu-link {
    z-index: 1;
    width: 100%;
    display: block;
    font-size: 2rem;
    padding: 0.75rem 0 0.75rem var(--spaceX);
    font-weight: 400;
    position: relative;
    transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-sizing: border-box;
    /* mix-blend-mode: difference; */
}
.menu-list .menu-link.show .item-title {
    color: var(--secondary);
}
.menu-list .menu-link.show {
    z-index: 2;
}
.menu-list .menu-link small {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%);
    font-size: 0.75rem;
    padding-left: 12px;
    transition: transform .3s;
    color: var(--secondary);
}
.menu-list .menu-link:hover small {
    transform: translate(0, -50%);
}
.menu-list .menu-link::before {
    content: '';
    position: absolute;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    width: 5px;
    height: 100%;
    background-color: var(--secondary);
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;
}

.menu-list .menu-link:hover::before {
    opacity: 1;
    transform: translate(0, -50%);
}
.subMenuContainer .subMenu ul li a {
    font-size: 1.3rem;
    text-transform: capitalize;
    transition: all .3s;
}
.subMenuContainer .subMenu ul li a:hover {
    color: var(--secondary);
}
.subMenuContainer .subMenu ul li {
    line-height: 1.7;
}
/*=============MENU CONTAINER================*/
@media only screen and (max-width:768px) {
    #menuContainer .extraLinks {
        display: none;
    }
    #menuContainer {
        top: 0;
    }
    #menuContainer .infoSection .nav {
        height: 100%;
    }
    #menuContainer {
        height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
    }
    body.scrollingDown #menuContainer ,
    body.scrollEnd #menuContainer{
        height: calc(100vh - var(--headerHeight));
    }
    body.noMove.scrollingDown #menuContainer{
        height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
    }
    header{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        top: auto;
        bottom: 0;
        background-color: rgba(255, 255, 255, .5);
    }
    header .identity {
        column-gap: .5rem;
    }
    header .identity img.logo-text {
        width: 8rem;
    }
    header .startProject {
        display: none;
    }
    header .menu-icon .quickMenu {
        display: none;
    }
    header .menu-icon {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    header .menu-icon .icon {width: 16vw;}
    .subMenuContainer {
        display: none;
    }

    .menu-list {
        padding-right: var(--spaceX);
        padding-bottom: 0;
    }

    .item-title {
        font-size: 2.5rem;
    }

    .menu-list .menu-link {
        padding: 0.5rem 0 0.5rem var(--spaceX);
    }
    .menu-list .menu-link .image_rev{
        display: none;
    }
}
@media only screen and (min-width: 640px) and (max-width:768px) {
    header .menu-icon .icon {
        width: 10vw;
    }
    .menu-list .menu-link {
        padding: 0.75rem 0 0.75rem var(--spaceX);
    }
}
@media only screen and (min-width: 769px) and (max-width:1199px) {
    header .menu-icon .icon {
        width: 7vw;
    }
    #menuContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .menu-list .menu-link .image_rev {
        display: none;
    }

    #menuContainer .extraLinks {
        width: calc(50vw - var(--spaceX));
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    /*==============MENU===============*/
    .item-title {
        font-size: 2.15rem;
    }

    .menu-list .menu-link {
        padding: 0.65rem 0 0.65rem var(--spaceX);
    }

    .subMenuContainer .subMenu ul li a {
        font-size: 1.1rem;
    }

    #menuContainer .extraLinks {
        width: 26vw;
    }

    .menu-list .menu-link .image_rev {
        width: 170px;
        height: 210px;
    }
    /*==============MENU===============*/
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {
    /*==============MENU================*/
    .item-title {
        font-size: 2.5rem;
    }

    .menu-list .menu-link {
        padding: 0.65rem 0 0.65rem var(--spaceX);
    }

    .subMenuContainer .subMenu ul li a {
        font-size: 1.15rem;
    }

    .menu-list .menu-link .image_rev {
        width: 190px;
        height: 250px;
    }
    /*==============MENU================*/
}