/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*==================ROOT=====================*/
:root {
    --img-ratio: 1;
    --img-border-radius: 4px;
    --img-width: 190px;
    --img-offset-x: 20px;
    --img-offset-y: 20px;
}
.btn {
    background-color: var(--darkGray);
    border-radius: 1.875rem;
    color: var(--white);
    padding: 12px 24px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    border: 2px solid var(--green);
    font-size: .875rem;
    opacity: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all ease-in-out .4s .4s;
    -o-transition: all ease-in-out .4s .4s;
    transition: all ease-in-out .4s .4s;
}
body.changeHero .btn {
    opacity: 0 !important;
    pointer-events: none;
    transition-delay: 0s;
}
.btn:hover {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--darkGray);
}
section.homeTextEffectsContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*==================ROOT=====================*/
/*=================SCROLL====================*/
/*==============HERO SECTION=================*/
section.heroSection::before {
    content: '';
    position: absolute;
    width: 13rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;
    -webkit-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    transition: all ease-in-out .7s;
}
body.changeHero section.heroSection::before {
    opacity: 0;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
spline-viewer ,section.heroSection iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: darken;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
body.changeHero section.heroSection iframe ,
body.changeHero spline-viewer {
    opacity: 0;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    pointer-events: none;
}

section.heroSection #root {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(.8);
    -ms-transform: translateX(-50%) scale(.8);
    transform: translateX(-50%) scale(.8);
    z-index: 1;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    opacity: .5;
    bottom: 5rem;
}
section.heroSection .motionTrailWrap .content {
    grid-area: content;
    border-radius: 8px;
    position: relative;
    z-index: 100;
}
section.heroSection .motionTrailWrap .content__img {
    width: var(--img-width);
    aspect-ratio: var(--img-ratio);
    border-radius: var(--img-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, filter;
}
section.heroSection .motionTrailWrap .content__img-inner {
    background-position: 50% 50%;
    width: calc(100% + var(--img-offset-x));
    height: calc(100% + var(--img-offset-y));
    background-size: cover;
    position: absolute;
    top: calc( -1 * var(--img-offset-y) / 2 );
    left: calc( -1 * var(--img-offset-x) / 2 );
}
section.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section.heroSection #root img {
    width: 22vw;
}
body.changeHero section.heroSection #root {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(.9);
    -ms-transform: translate(-50%, -50%) scale(.9);
    transform: translate(-50%, -50%) scale(.9);
    pointer-events: none;
}
section.heroSection .motionTrailWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.toggleSwitch label {
    width: 150px;
    height: 75px;
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(.45);
    -ms-transform: translate(-50%,-50%) scale(.45);
    transform: translate(-50%,-50%) scale(.45);
    z-index: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #E1E1E1;
    -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.toggleSwitch input:checked ~ label {
    background-color: var(--green);
}
.toggleSwitch input:checked ~ label div.s {
    margin-left: 74px;
}
.toggleSwitch label div.s {
    width: 70px;
    height: 64px;
    background-color: #FAFAFA;
    border-radius: 8px;
    position: relative;
    top: 4.65px;
    left: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #FAFAFA;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
.toggleSwitch label div div.d {
    width: 7px;
    height: 7px;
    /* Rectangle 46 */
    position: absolute;
    border-radius: 50%;
    background: #FAFAFA;
    -webkit-box-shadow: 0 1.32px 2.25px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1.32px 2.25px rgba(0, 0, 0, 0.75);
}
section.projectsWrapper .selectedProjectsSwitch .toggleSwitch label div div.d {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.toggleSwitch label div div.d:nth-child(1) {
    left: 18px;
    top: 15px;
}
.toggleSwitch label div div.d:nth-child(2) {
    left: 32px;
    top: 15px;
}
.toggleSwitch label div div.d:nth-child(3) {
    left: 46px;
    top: 15px;
}
.toggleSwitch label div div.d:nth-child(4) {
    left: 18px;
    top: 28px;
}
.toggleSwitch label div div.d:nth-child(5) {
    left: 32px;
    top: 28px;
}
.toggleSwitch label div div.d:nth-child(6) {
    left: 46px;
    top: 28px;
}
.toggleSwitch label div div.d:nth-child(7) {
    left: 18px;
    top: 42px;
}
.toggleSwitch label div div.d:nth-child(8) {
    left: 32px;
    top: 42px;
}
.toggleSwitch label div div.d:nth-child(9) {
    left: 46px;
    top: 42px;
}
.toggleSwitch input {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
section.heroSection .heroSectionInfo {
    position: relative;
    z-index: 2;
    width: 50%;
    height: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    row-gap: 1rem;
}
section.heroSection .heroSectionInfo h1 {
    margin: 0;
    width: 100%;
    text-align: right;
    font-size: 3rem;
    font-weight: 400;
    mix-blend-mode: difference;
    opacity: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
section.heroSection .heroSectionInfo h1 > span {
    display: inline-block;
    -webkit-transition: all ease-in-out .75s;
    -o-transition: all ease-in-out .75s;
    transition: all ease-in-out .75s;
    padding: 0 14px;
}
section.heroSection .heroSectionInfo  .toggleSwitch {
    display: inline-block;
    width: 4rem;
    height: 2rem;
}
canvas#gol {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: all ease-in-out .75s;
    -o-transition: all ease-in-out .75s;
    transition: all ease-in-out .75s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-filter: grayscale(1) brightness(1.1);
    filter: grayscale(1) brightness(1.1);
}
body.changeHero canvas#gol {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

body.changeHero section.heroSection .motionTrailWrap {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

body.changeHero section.heroSection .heroSectionInfo h1 > span {
    /* -webkit-text-stroke: 1px black; */
    /* text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
    /* color: #e0e0ff; */
    /* -webkit-text-stroke: 1px var(--darkGray); */
    /* -webkit-text-fill-color: transparent; */
    /* padding: 0px 14px; */
}
section.heroSection *::-moz-selection {
    background-color: transparent;
    color: inherit;
}
section.heroSection *::selection {
    background-color: transparent;
    color: inherit;
}
body.changeHero section.heroSection .heroSectionInfo h1 > span {
    background-color: var(--white);
    display: inline-block;
}
body.enter section.heroSection .heroSectionInfo h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

body.enter .btn {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

body.enter #scroll {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
/*==============HERO SECTION=================*/
/*==========SELECTED PROJECTS SECTION==============*/
section.projectsWrapper .selectedProjectsSwitch span {
    display: block;
    text-align: center;
}
section.projectsWrapper .selectedProjectsSwitch .toggleSwitch label {
    margin: 0;
}
section.projectsWrapper {
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 10.875rem;
}
section.projectsWrapper .selectedProjectsSwitch {
    position: absolute;
    top: 2.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}
section.projectsWrapper .selectedProjectsSwitch .toggleSwitch {
    position: relative;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 7rem;
}
section.projectsWrapper .selectedProjectsSwitch .toggleSwitch label {
    /* -webkit-box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.2); */
}
section.projectsWrapper .selectedProjectsSwitch .toggleSwitch label div.s {
    left: 3px;
    top: 5px;
    -webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}
section.projectsWrapper .selectedProjectsSwitch span {
    font-size: .75rem;
    text-transform: capitalize;
}
section.projectsWrapper .projectsWrapper {
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 6.875rem;
    background-color: rgba(250,250,250,.7);
    z-index: 0;
    overflow-x: hidden;
}
.view-all {
    position: relative;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--green);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    padding: 5px 0;
    text-transform: capitalize;
    color: var(--white);
}
section.projectsWrapper .projectsWrapper .projectWrap {
    position: relative;
    width: 49%;
    display: block;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap {
    position: relative;
    height: 50vh;
    margin-bottom: 2rem;
}
section.projectsWrapper .projectsWrapper .projectWrap .project-info {
    position: relative;
    width: 100%;
    display: block;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .media-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: lighten;
    z-index: 2;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    overflow: hidden;
}
section.projectsWrapper .projectsWrapper .projectWrap.hide .projectMediaWrap .media-overlay {
    opacity: 0;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .media-overlay video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .imagination-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: darken;
    -webkit-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    -o-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .imagination-media img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap  .realityMedia {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
section.projectsWrapper .projectsWrapper .projectWrap.is-active .projectMediaWrap .imagination-media img {
    opacity: 1;
}

section.projectsWrapper .projectsWrapper .projectWrap.is-active .projectMediaWrap .realityMedia img {
    opacity: 1;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .realityMedia img {
    position: absolute;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
    top: 0;
    right: 0;
    width: 9.847rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
    top: 5rem;
    right: 48%;
    width: 11.283rem;
    z-index: 1;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
    width: 14.986rem;
    left: 0;
    top: 2rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
    bottom: 4rem;
    right: 6rem;
    width: 6.746rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
    bottom: 0;
    left: 20%;
    width: 13.031rem;
    z-index: 1;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
    bottom: 25%;
    left: 4rem;
    z-index: 0;
    width: 8.223rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
    width: 13.688rem;
    top: 0;
    right: 0;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
    width: 10.313rem;
    left: 7rem;
    z-index: 3;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
    right: 2rem;
    bottom: 2rem;
    width: 7.696rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
    width: 10.07rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
    width: 12.672rem;
    left: 0;
    top: 3rem;
    z-index: 2;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
    left: 20%;
    bottom: 0;
    width: 14.427rem;
    z-index: 2;
}
section.projectsWrapper .projectsWrapper .projectWrap .project-info span:first-child {
    color: var(--darkGray);
    font-size: .75rem;
    font-family: var(--blouderFont);
    font-variant-numeric: slashed-zero;
}
section.projectsWrapper .projectsWrapper .projectWrap .project-info span.category,section.projectsWrapper .projectsWrapper .projectWrap .project-info span.area{
    display: block;
    color: var(--gray);
    margin-bottom: .4rem;
    font-size: 0.875rem;
}
section.projectsWrapper .projectsWrapper .projectWrap .project-info h3{
    color: var(--green);
    font-size: 1.125rem;
    font-weight: 500;
    margin: .4rem 0 .625rem;
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) {
    margin-left: auto;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .realityMedia::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .realityMedia .imagBoxes {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    -o-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}
section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .project-info {
    text-align: right;
}
.view-all:hover {
    padding: 15px 0;
    color: var(--white);
}
section.projectsWrapper .headLine {
    padding-bottom: 8rem;
    background-color: rgba(250,250,250,.7);
}
body.changeView section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .imagination-media {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
body.changeView section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .realityMedia::before {
    opacity: 0;
}
body.changeView section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap .realityMedia .imagBoxes {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.js-ink-trigger::before {
    background-image: url(../img/ink-photo-frame.png);
    background-size: 100% 100%;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-1.25%);
    width: 4000%;
    pointer-events: none;
}
.is-active .js-ink-trigger::before {
    -webkit-animation: ink-transition 1.5s steps(39) 0s forwards;
    animation: ink-transition 1.5s steps(39) 0s forwards;
}
@-webkit-keyframes ink-transition {
    0% {
        transform: translateX(-1.25%);
    }
    99% {
        transform: translateX(-98.75%);
        opacity: 1;
    }
    100% {
        transform: translateX(-98.75%);
        opacity: 0;
    }
}
@keyframes ink-transition {
    0% {
        transform: translateX(-1.25%);
    }
    99% {
        transform: translateX(-98.75%);
        opacity: 1;
    }
    100% {
        transform: translateX(-98.75%);
        opacity: 0;
    }
}
/*==========SELECTED PROJECTS SECTION==============*/
/*==========SERVICES SECTION==============*/
section.services-container {
    margin: 0;
    width: 100%;
    background-color: var( --lightGray);
}
section.services-container .wrap .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.services-container .wrap .content {
    width: 100vw;
    position: sticky;
    top: 0;
    --offset: 0px;
    top: var(--offset);
    height: calc(100vh - var(--offset));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
}

section.services-container .wrap .content:nth-child(odd) {
    /* margin-left: auto; */
}

section.services-container .wrap .content .content__img {
    grid-area: content-img;
    width: auto;
    height: auto;
    max-width: 12.188rem;
    max-height: 9.375rem;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: .5;
}

section.services-container .wrap .content .content__title {
    grid-area: content-title;
    margin: 0;
    -webkit-text-stroke: 1px var(--darkGray);
    font-size: 2rem;
    font-weight: 500;
    width: 90%;
}
section.services-container .wrap .content .content__title:before {
    content: attr(data-number);
    position: absolute;
    bottom: 100%;
    text-indent: -200%;
    font-size: .875rem;
    font-family: var(--blouderFont);
    font-variant-numeric: slashed-zero;
    font-weight: 400;
}
section.services-container .wrap .content .content__text {
    margin: 0;
    grid-area: content-text;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: .875rem;
    font-weight: 400;
    width: 90%;
}
section.services-container .wrap .content .content__link {
    font-size: .875rem;
    font-weight: 400;
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}
section.services-container .wrap .content .content__link:hover {
    background-color: var(--green);
    color: var(--white);
}
section.services-container .wrap .content:nth-child(1) {background: #E3E3E3;margin-left: auto;}
section.services-container .wrap .content:nth-child(1) .content__title{-webkit-text-fill-color: #E3E3E3;}
section.services-container .wrap .content:nth-child(2) {background: #F2F2F2;margin-right: 25%;margin-left: auto;}
section.services-container .wrap .content:nth-child(2) .content__title{-webkit-text-fill-color: #F2F2F2;}
section.services-container .wrap .content:nth-child(3){background: #D9D9D9;margin-left: auto;margin-right: 50%;}
section.services-container .wrap .content:nth-child(3) .content__title{-webkit-text-fill-color: #D9D9D9;}
section.services-container .wrap .content:nth-child(4) {background: #FBFBFB;margin-right: auto;}
section.services-container .wrap .content:nth-child(4) .content__title{-webkit-text-fill-color: #FBFBFB;}

@media screen and (min-width: 63em) {
    section.services-container .wrap .content {
        width: 25%;
        gap: 1.7rem;
    }
}
/*==========SERVICES SECTION==============*/
/*============ABOUT SECTION===============*/
section.aboutContainer {
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 50rem;
}
section.aboutContainer h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10.5rem;
    margin-bottom: 8rem;
    z-index: 1;
    mix-blend-mode: difference;
    color: var(--white);
}
section.aboutContainer .aboutMediaWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
section.aboutContainer .aboutInfoWrapper {
    mix-blend-mode: difference;
    color: var(--white);
}
section.aboutContainer .aboutInfoWrapper .aboutWrap {
    width: 50%;
}
section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1){
    width: 16vw;
    top: 0;
    right: 25vw;
}
section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2){
    width: 29vw;
    right: 0;
    top: 4rem;
}
section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3){
    width: 20vw;
    left: 15vw;
    top: 15rem;
}
section.aboutContainer .aboutMediaWrapper .img-box img {
    width: 100%;
    height: auto;
}
section.aboutContainer .aboutMediaWrapper .img-box {
    position: absolute;
}
/*============ABOUT SECTION===============*/
/*=========HOME SLOGAN SECTION============*/
h2.content__title.content__title--left.words.chars.splitting,h2.content__title.content__title--left {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 100;
    padding: 4rem 0;
    color: #8B8B8B;
}
section.home-slogan-container {
    height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
h2.content__title.content__title--left .char {
    will-change: transform;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
/*=========HOME SLOGAN SECTION============*/
/*==================R E S P O N S I V E==================*/
@media only screen and (max-width: 768px){
    /*===========GENERAL CLASS=============*/
    .btn {
        font-size: 0.75rem;
        padding: 10px 24px;
    }
    /*===========GENERAL CLASS=============*/
    /*===========HERO SECTION=============*/
    body.changeHero .btn {
        display: none;
    }
    body.changeHero section.heroSection .heroSectionInfo {
        height: auto;
    }
    body.changeHero section.heroSection .heroSectionInfo h1 {
        margin: 0;
    }
    body.changeHero {
        overflow: hidden;
    }
    section.heroSection .heroSectionInfo {
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: var(--spaceX);
        height: calc(100% - 3.5rem - 2rem - 7.5rem);
        justify-content: space-between;
    }
    section.heroSection {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 3.5rem;
    }
    section.heroSection .heroSectionInfo h1 {
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: 4rem;
    }
    .toggleSwitch label {
        -webkit-transform: translate(-50%, -50%) scale(.35);
        -ms-transform: translate(-50%, -50%) scale(.35);
        transform: translate(-50%, -50%) scale(.35);
        margin-top: 7px;
    }
    section.heroSection #root {
        -webkit-transform: translateX(-50%) scale(.6);
        -ms-transform: translateX(-50%) scale(.6);
        transform: translateX(-50%) scale(.6);
    }
    spline-viewer,section.heroSection iframe {
        /*top: 9rem;*/
        pointer-events: none;
    }
    /*===========HERO SECTION=============*/
    /*===========SELECTED PROJECTS SECTION=============*/
    section.projectsWrapper .selectedProjectsSwitch {
        left: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        right: var(--spaceX);
        top: 2rem;
    }
    section.projectsWrapper .headLine {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    section.projectsWrapper .selectedProjectsSwitch .toggleSwitch {
        height: 5rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap {
        width: 75%;
        margin-bottom: 4rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) {
        /* margin-left: 0;*/
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .project-info {
        text-align: left;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 4.847rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        top: 5rem;
        width: 6.283rem;
        right: 24%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 7.986rem;
        left: 0;
        top: 1rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 20%;
        width: 13.031rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 4rem;
        z-index: 0;
        width: 5.223rem;
        bottom: 28%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 10%;
        width: 6.031rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        bottom: 4rem;
        right: 1rem;
        width: 3.746rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 5.672rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 6.688rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 5.313rem;
        left: 1rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 5.07rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        width: 6.427rem;
        left: 8%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        right: 1rem;
        bottom: 2rem;
        width: 5.696rem;
    }
    section.projectsWrapper .projectsWrapper {
        padding-bottom: 4rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:last-child {
        margin: 0;
    }

    section.projectsWrapper {
        padding-bottom: 7.063rem;
    }
    /*===========SELECTED PROJECTS SECTION=============*/
    /*================ABOUT SECTION===================*/
    section.aboutContainer h2 {font-size: 5.5rem;margin-bottom: 6.25rem;}
    section.aboutContainer .aboutInfoWrapper .aboutWrap {
        width: 100%;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        right: 0;
        width: 37vw;
        top: 5rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 56vw;
        right: 0;
        top: 16rem;
        z-index: 1;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3) {
        top: 38rem;
        width: 34vw;
        z-index: 0;
    }
    section.aboutContainer {
        padding-bottom: 7rem;
    }
    /*================ABOUT SECTION===================*/
    /*===============SERVICES SECTION==================*/
    section.services-container .headLine {
        padding-bottom: 3.5rem;
    }
    section.services-container .wrap .content .content__img {
        width: 6.344rem;
        height: 6.444rem;
        margin-bottom: 1.875rem;
    }

    section.services-container .wrap .content .content__title {
        font-size: 1.513rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    section.services-container .wrap .content .content__title:before {
        font-size: 0.638rem;
    }

    section.services-container .wrap .content {
        gap: 0;
    }

    section.services-container .wrap .content .content__text {
        font-size: 0.725rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    section.services-container .wrap .content .content__link {
        font-size: 0.75rem;
        padding: .5rem 1rem;
    }
    /*===============SERVICES SECTION==================*/
    /*===============TEXT REVEAL SECTION===============*/
    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 1.25rem;
    }
    section.home-slogan-container {
        padding: 0 var(--spaceX);
    }
    /*===============TEXT REVEAL SECTION================*/
}
@media only screen and (min-width: 640px) and (max-width: 768px){
    /*===============HERO SECTION=====================*/
    section.heroSection .heroSectionInfo {
        width: 70%;
        margin: 0 auto;
    }
    section.heroSection #root {
        -webkit-transform: translateX(-50%) scale(.8);
        -ms-transform: translateX(-50%) scale(.8);
        transform: translateX(-50%) scale(.8);
    }
    section.heroSection .heroSectionInfo h1 {
        font-size: 2.5rem;
    }
    /*===============HERO SECTION=====================*/
    /*==========SELECTED PROJECTS SECTION=============*/
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 8.847rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        top: 8rem;
        width: 10.283rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 12.986rem;
        left: 0;
        top: 2rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        bottom: 4rem;
        right: 1rem;
        width: 5.746rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 8%;
        width: 9.031rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 7rem;
        width: 7.223rem;
        bottom: 29%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 11.688rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 9.313rem;
        left: 2rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        right: 2rem;
        bottom: 4rem;
        width: 11.696rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 9.07rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 8.672rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        width: 10.427rem;
        left: 8%;
    }
    /*==========SELECTED PROJECTS SECTION=============*/
    /*===============ABOUT SECTION====================*/
    section.aboutContainer .aboutInfoWrapper .aboutWrap {
        width: 50%;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 34vw;
        top: 13rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        width: 20vw;
        top: 4rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3) {
        top: 25rem;
        width: 22vw;
    }
    /*===============ABOUT SECTION=====================*/
    /*===============SERVICES SECTION==================*/
    section.services-container .wrap .content .content__text {
        font-size: .875rem;
    }
    section.services-container .wrap .content .content__title {
        font-size: 2.625rem;
    }
    section.services-container .wrap .content .content__img {
        width: 9.344rem;
        height: 9.444rem;
    }
    section.services-container .wrap .content .content__title:before {
        font-size: .875rem;
    }
    /*===============SERVICES SECTION==================*/
    /*=============TEXT REVEAL SECTION=================*/
    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 2.5rem;
    }
    /*=============TEXT REVEAL SECTION=================*/
}
@media only screen and (min-width: 769px) and (max-width: 1199px){
    /*==============HERO SECTION=================*/
    section.heroSection .heroSectionInfo h1 {
        font-size: 2.5rem;
    }
    spline-viewer,section.heroSection iframe{
        pointer-events: none;
    }
    body.changeHero {
        overflow: hidden;
    }
    section.heroSection .heroSectionInfo {
        width: 60%;
    }
    /*==============HERO SECTION=================*/
    /*=========SELECTED PROJECTS SECTION============*/
    section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap {
        height: 34vh;
        margin-bottom: 1.5rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap {
        width: 46%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 8.847rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 9.986rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        top: 5rem;
        right: 33%;
        width: 8.283rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        bottom: 3rem;
        right: 4rem;
        width: 4.746rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 6%;
        width: 9.031rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 5rem;
        z-index: 0;
        width: 7.223rem;
        bottom: 34%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 9.688rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 7.313rem;
        left: 1.5rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 9.672rem;
        top: 2rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 9%;
        width: 10.427rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 7.07rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        right: 1rem;
        bottom: 1rem;
        width: 6.696rem;
    }
    /*=========SELECTED PROJECTS SECTION============*/
    /*=========ABOUT SECTION============*/
    section.aboutContainer h2 {
        font-size: 8.5rem;
        margin-bottom: 5rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        width: 14vw;
        top: 0;
        right: 24vw;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 26vw;
        right: 0;
        top: 4rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3) {
        width: 18vw;
        left: 12vw;
        top: 14rem;
    }
    section.aboutContainer {
        padding-bottom: 14rem;
    }
    /*=========ABOUT SECTION============*/
    /*=========SERVICES SECTION============*/
    section.services-container .wrap .content .content__img {
        max-width: 12.188rem;
        max-height: 9.375rem;
    }
    section.services-container .wrap .content .content__title {
        font-size: 1.7rem;
        width: 90%;
    }
    section.services-container .wrap .content .content__text{
        width: 92%;
    }
    section.services-container .wrap .content {
        gap: 3vh;
        width: 50%;
    }
    section.services-container .wrap .content:nth-child(odd) {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    section.services-container .wrap .content:nth-child(even) {
        margin-right: auto !important;
        margin-left: 0 !important;
    }
    /*=========SERVICES SECTION============*/
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    :root {
        --img-width: 150px;
    }
    /*===========HERO SECTION===============*/
    section.heroSection .heroSectionInfo h1 {
        font-size: 2.25rem;
    }
    .toggleSwitch label {
        -webkit-transform: translate(-50%, -50%) scale(.35);
        -ms-transform: translate(-50%, -50%) scale(.35);
        transform: translate(-50%, -50%) scale(.35);
    }
    section.heroSection .heroSectionInfo .toggleSwitch {
        height: 1.2rem;
    }
    .btn {
        padding: 10px 18px;
        font-size: .75rem;
    }
    /*===========HERO SECTION===============*/
    /*===========SELECTED PROJECTS===============*/
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 7.847rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap {
        width: 48%;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        top: 5rem;
        right: 40%;
        width: 9.283rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 10.986rem;
        left: 0;
        top: 1.5rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        bottom: 3rem;
        right: 5rem;
        width: 3.746rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 26%;
        width: 9.031rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        bottom: 22%;
        left: 2rem;
        z-index: 0;
        width: 6.223rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 9.688rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 7.313rem;
        left: 6rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 7.672rem;
        top: 3rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 20%;
        width: 8.427rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 7.07rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        right: 2rem;
        bottom: 2rem;
        width: 5.696rem;
    }
    /*===========SELECTED PROJECTS===============*/
    /*===========ABOUT SECTION===============*/
    section.aboutContainer h2 {
        font-size: 7.5rem;
        margin-bottom: 6rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        width: 14vw;
        right: 25vw;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 26vw;
        right: 0;
        top: 4rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3) {
        width: 14vw;
        left: 12vw;
        top: 20rem;
    }
    section.aboutContainer {
        padding-bottom: 14rem;
    }
    /*===========ABOUT SECTION===============*/
    /*===========SERVICES SECTION===============*/
    section.services-container .wrap .content .content__img {
        max-width: 11.188rem;
        max-height: 6.375rem;
    }

    section.services-container .wrap .content .content__title {
        font-size: 1.3rem;
    }
    section.services-container .wrap .content{
        padding: 1.2rem;
        gap: 1.5rem;
    }
    section.services-container .wrap .content .content__title:before {
        font-size: .65rem;
    }

    section.services-container .wrap .content .content__text {
        font-size: .75rem;
    }

    section.services-container .wrap .content .content__link {
        font-size: .75rem;
        padding: .5rem 1.35rem;
    }
    /*===========SERVICES SECTION===============*/
    /*===========TEXT REVEAL SECTION===============*/
    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 2.45rem;
    }
    /*===========TEXT REVEAL SECTION===============*/
}
@media only screen and (min-width: 1401px) and (max-width: 1600px){
    :root {
        --img-width: 160px;
    }
    /*===========HERO SECTION===============*/
    section.heroSection .heroSectionInfo h1 {
        font-size: 2.75rem;
    }
    .toggleSwitch label {
        -webkit-transform: translate(-50%, -50%) scale(.45);
        -ms-transform: translate(-50%, -50%) scale(.45);
        transform: translate(-50%, -50%) scale(.45);
    }
    section.heroSection .heroSectionInfo .toggleSwitch {
        height: 1.2rem;
    }
    .btn {
        padding: 12px 20px;
        font-size: .875rem;
    }
    /*===========HERO SECTION===============*/
    /*===========SELECTED PROJECTS===============*/
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 9.847rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap {
        width: 48%;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        top: 5rem;
        right: 36%;
        width: 11.283rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 11.986rem;
        left: 0;
        top: 1.5rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        bottom: 3rem;
        right: 4rem;
        width: 4.746rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 29%;
        width: 11.031rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        bottom: 22%;
        left: 2rem;
        z-index: 0;
        width: 8.223rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 11.688rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 9.313rem;
        left: 6rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 9.672rem;
        top: 3rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 20%;
        width: 12.427rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 9.07rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        right: 2rem;
        bottom: 2rem;
        width: 8.696rem;
    }
    /*===========SELECTED PROJECTS===============*/
    /*===========ABOUT SECTION===============*/
    section.aboutContainer h2 {
        font-size: 8.5rem;
        margin-bottom: 6rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        width: 14vw;
        right: 25vw;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 26vw;
        right: 0;
        top: 4rem;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(3) {
        width: 14vw;
        left: 12vw;
        top: 20rem;
    }
    section.aboutContainer {
        padding-bottom: 14rem;
    }
    /*===========ABOUT SECTION===============*/
    /*===========SERVICES SECTION===============*/
    section.services-container .wrap .content .content__img {
        max-width: 10.188rem;
        max-height: 7.375rem;
    }

    section.services-container .wrap .content .content__title {
        font-size: 1.6rem;
        width: 100%;
    }

    section.services-container .wrap .content .content__title:before {
        font-size: .75rem;
    }

    section.services-container .wrap .content .content__text {
        font-size: .75rem;
    }

    section.services-container .wrap .content .content__link {
        font-size: .75rem;
        padding: .5rem 1.35rem;
    }
    /*===========SERVICES SECTION===============*/
    /*===========TEXT REVEAL SECTION===============*/
    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 2.5rem;
    }
    /*===========TEXT REVEAL SECTION===============*/
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape){
    #intro .text {
        letter-spacing: .5rem;
    }
    section.heroSection .heroSectionInfo h1 {
        font-size: 2.2rem;
    }
    .toggleSwitch label {
        transform: translate(-50%, -50%) scale(.35);
        margin-top: 5px;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 7.847rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 6.283rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 8.986rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 7.031rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        width: 5.223rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 8.688rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 6.313rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 5.696rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 6.07rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 6.672rem;
    }

    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        width: 8.427rem;
    }
    section.services-container .wrap .content .content__img {
        max-width: 9.188rem;
        max-height: 6.375rem;
    }

    section.services-container .wrap .content .content__title {
        font-size: 1.5rem;
    }

    section.services-container .wrap .content .content__text {
        font-size: .75rem;
    }

    section.services-container .wrap .content .content__link {
        padding: .7rem 1.5rem;
        font-size: .75rem;
    }

    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 2.5rem;
    }

    section.home-slogan-container {
        height: 100vh;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 940px) and (orientation: landscape){
    #intro .text {
        letter-spacing: .4rem;
        width: 100%;
        text-align: center;
    }
    section.heroSection .heroSectionInfo h1 {
        font-size: 1.5rem;
    }
    #intro {
        padding: 3rem var(--spaceX);
    }
    .toggleSwitch label {
        transform: translate(-50%, -50%) scale(.35);
        margin-top: 9px;
    }
    .btn {
        font-size: .75rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 5.688rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 5.313rem;
        left: 0.5rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 3.696rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(4) {
        width: 5.07rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        width: 4.672rem;
        top: 3rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 9%;
        width: 6.427rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap .projectMediaWrap {
        height: 50vh;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(1) {
        width: 5.847rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(2) {
        width: 4.283rem;
        right: 31%;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(3) {
        width: 6.986rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(5) {
        left: 6%;
        width: 7.031rem;
    }
    section.projectsWrapper .projectsWrapper .projectWrap:nth-of-type(2n+1) .projectMediaWrap .realityMedia img:nth-of-type(6) {
        left: 5rem;
        width: 5.223rem;
        bottom: 33%;
    }
    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(1) {
        width: 12vw;
        right: 19vw;
    }

    section.aboutContainer .aboutMediaWrapper .img-box:nth-of-type(2) {
        width: 22vw;
    }

    section.aboutContainer {
        padding-bottom: 7rem;
    }

    .headLine .des {
        font-size: 1.7rem;
    }

    .headLine .title {
        margin-bottom: 2rem;
    }

    section.services-container .wrap .content .content__img {
        max-width: 5.188rem;
        max-height: 3.375rem;
        margin-bottom: 0;
    }

    section.services-container .wrap .content .content__title {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    section.services-container .wrap .content .content__text {
        font-size: .6rem;
        margin-bottom: 0;
    }

    section.services-container .wrap .content {
        padding: 1rem;
        gap: 2vh;
    }
    h2.content__title.content__title--left.words.chars.splitting, h2.content__title.content__title--left {
        font-size: 1.7rem;
    }

    section.home-slogan-container {
        height: 100vh;
    }
    section.services-container .wrap .content .content__link {
        padding: .75rem;
        font-size: .7rem;
    }
}