/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*============GENERAL CLASS==================*/
:root{
    counter-reset: item;
}
html {
    scroll-behavior: smooth;
}
html.loadingDone #loading {
    z-index: 99;
}
#smooth-wrapper {
    z-index: 1;
}
canvas#defaultCanvas0 {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: .4;
}
body.opMenu #cookieContainer {
    z-index: 98;
}
.homeProjectWrap::-moz-selection,.homeProjectWrap * ::-moz-selection {
    background-color: transparent !important;
    color: inherit !important;
}
.homeProjectWrap::-moz-selection, .homeProjectWrap * ::-moz-selection {
    background-color: transparent !important;
    color: inherit !important;
}
.homeProjectWrap::selection,.homeProjectWrap * ::selection {
    background-color: transparent !important;
    color: inherit !important;
}
#audioWrapper {
    display: none;
}
audio {
    visibility: hidden;
    opacity: 0;
}
/*============GENERAL CLASS==================*/
/*============TILT==================*/
.tiltContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 1.5rem auto 0;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.tiltWrap {
    display: block;
    width: 30%;
    position: relative;
    cursor: pointer;
}

.tiltIcon {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%^;
}

.tiltIcon img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.tiltWrap span {
    position: absolute;
    z-index: 0;
    font-size: 0.688rem;
    width: 100%;
    text-align: center;
    top: 0;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .8s;
}

.tiltWrap:hover span {
    top: 0;
    transform: translateY(-100%);
}
/*============TILT==================*/
/*============COOKIE==================*/
#cookieContainer {
    position: fixed;
    z-index: 101;
    bottom: 2rem;
    left: calc(var(--spaceX) + (calc((100vw / 3) * 2 - var(--spaceL))/2));
    width: auto;
    padding: .7rem 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px -2px 11px rgba(0, 0, 0, 0.1);
    box-shadow: 1px -2px 11px rgba(0, 0, 0, 0.1);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 6rem;
    grid-template-columns: 1fr 6rem;
    grid-column-gap: 4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    border-radius: 60px;
    background-color: #206E4BCC;
}
#cookieOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
button#acceptCookie {
    width: auto;
    border: 2px solid var(--white);
    padding: 7px;
    border-radius: 60px;
    color: var(--primary);
    background-color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.75rem;
}
.cookieWrapper p.title {
    margin: 0;
    color: var(--white);
    font-size: .75rem;
}
.cookieWrapper .cookieContent p {
    margin: 0;
    font-size: 0.75rem;
}
button#acceptCookie:hover {
    background-color: var(--white);
    color: var(--primary);
}
body.hideC #cookieOverlay {
    opacity: 0;
    pointer-events: none;
}
body.hideC #cookieContainer {
    opacity: 0;
    pointer-events: none;
}
/*============COOKIE==================*/
/*===========HOME PROJECTS==============*/
main.homeWrapper {
    /* height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 1;
    padding-bottom: 5rem;
    padding-top: 0;
}

body.desktop .homeProjectContainer {
    width: calc((100vw / 3) * 2 - var(--spaceL));
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4.563rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4.563rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    /*perspective: 1000px;*/
    -webkit-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
    transform: translate(0) !important;
    will-change: transform;
    padding-top: var(--headerHeight);
    /* transform: translateX(100px) !important;
    /* transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s; */
}
body.desktop .swiper {
    margin: 0;
}
body.desktop .swiper{
    -webkit-transform: translateX(60px) !important;
    -ms-transform: translateX(60px) !important;
    transform: translateX(60px) !important;
    opacity: 0;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
section.homeSideBarContainer {
    position: fixed;
    right: var(--spaceX);
    top: 0;
    height: calc(100vh - var(--headerHeight) - 1rem);
    width: calc((100vw / 3)* 1 - var(--spaceX) - 4rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 2;
    padding-top: var(--headerHeight);
}

.projectMedia {
    position: relative;
    width: 100%;
    height: 50vh;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    overflow: hidden;
}

.projectMedia img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    translate: none;
    rotate: none;
    scale: none;
    /* cursor: grab; */
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.homeProjectWrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -ms-grid-columns: 1fr .75rem .2fr;
    grid-template-columns: 1fr .2fr;
}
.homeProjectWrap:hover .projectMedia img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
body.desktop .swiper-slide:nth-of-type(even) .homeProjectWrap {
    margin-top: 42vh;
}

.projectInfo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.projectInfo img.logo {
    width: 34px;
    height: 34px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: .75rem;
}

.projectInfo h2.project_name {
    font-size: 0.688rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
    display: none;
}
.projectInfo span.project_year {
    font-size: 0.688rem;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 0.5rem;
    display: inline-block;
    width: 34px;
}
h1.home-title {
    position: relative;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
    opacity: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

h1.home-title strong {
    font-weight: 500;
}

h1.home-title::before,.homeVideoItemsWrapper::before {
    content: '';
    position: absolute;
    background-image: url(../img/small-elem.svg);
    width: 10px;
    height: 20px;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#mediaHomeWrap {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: 1rem;
}
.projectInfo::before {
    content: counter(item, decimal-leading-zero);
    counter-increment: item;
    font-size: 0.688rem;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    font-variant-numeric: slashed-zero;
}
#mediaHomeWrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; /* Smooth transition for opacity */
    opacity: 1; /* Default opacity */
}
.videoWrap video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.homeVideoItemsWrapper h2 {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
}
.homeVideoItemsWrapper h2 strong {
    font-weight: 800;
}
.homeItemsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1.5rem;
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
.homeItemsWrap h3 {
    font-size: 0.625rem;
    font-weight: 400;
    margin: 0 0 6px 0;
    text-transform: capitalize;
}
.homeItemsWrap a {
    font-size: 0.688rem;
    color: var(--primary);
    text-transform: capitalize;
    display: block;
    position: relative;
    padding-left: 1rem;
    line-height: 0.688rem;
}
.videoWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--primary);
    mix-blend-mode: hue;
}
.homeItemsWrap a::before{
    content: '';
    background-image: url(../img/link-white.svg);
    width: 6px;
    height: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.homeItemsWrap a::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
}
.homeVideoContainer {
    position: relative;
    width: 100%;
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.homeVideoItemsWrapper {
    position: relative;
}

.homeVideoContainer::after {
    content: '';
    position: absolute;
    background-image: url(../img/small-elem.svg);
    width: 10px;
    height: 20px;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.homeElementCounterWrapper{
    position: fixed;
    right: var(--spaceX);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    width: calc((100vw / 3)* 1 - var(--spaceX) - 4rem);
    /* min-height: 5rem; */
}
html.loadingDone body[data-pagetype="home"] .homeElementCounterWrapper .loading-container {
    left: auto;
    right: calc(100% - var(--spaceX) + (20rem * -1)  + (6rem* sin(20deg))* .5);
}
.homeElementCounterWrapper .loading-container{
    position: relative;
    /*transform: translateX(calc(100% -  var(--spaceX) - 0.5rem)) !important;*/
    /*left: auto !important;*/
    /*opacity: 1 !important;*/
}
.homeElementCounterWrapper #counterBox {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 0.7rem;
    left: 1rem;
    min-width: 3rem;
    min-height: 6rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.title-year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.homeElementCounterWrapper #counterBox span {
    font-variant: slashed-zero;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
#currentProjectName {
    position: absolute;
    z-index: 2;
    left: 4rem;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 2rem));
    -ms-transform: translateY(calc(-50% - 2rem));
    transform: translateY(calc(-50% - 2rem));
    text-transform: capitalize;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 4px;
    overflow: hidden;
}
#currentProjectName p {
    margin: 0;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
body.mobile main.wrapper.homeWrapper {
    padding-top: calc(var(--headerHeight)*.5);
    padding-bottom: 5rem;
    height: calc(var(--vh, 1vh) * 100);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body.mobile .swiper {
    height: 100%;
    width: 100%;
}
body.mobile .swiper-slide-active .projectMedia {
    opacity: 1;
}
body.mobile section.homeSideBarContainer.hide {
    -webkit-transform: translate(130%, 0);
    -ms-transform: translate(130%, 0);
    transform: translate(130%, 0);
}
.counterValueBox,.totalProjectBox {
    position: relative;
    width: 2rem;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.totalProjectBox span {
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.counterValueBox span {
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}
body.loadingDone .homeElementCounterWrapper #counterBox span {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

body.loadingDone #currentProjectName p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
body.loadingDone h1.home-title {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

body.loadingDone .homeVideoContainer {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

body.loadingDone .homeItemsWrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

body.loadingDone .swiper {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
/*===========HOME PROJECTS==============*/
@media only screen and (max-width: 768px){
    .title-year {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 0.25rem;
    }
    canvas#defaultCanvas0{
        opacity: 0.2;
    }
    #cookieContainer {
        grid-row-gap: 1rem;
        left: var(--spaceX);
        width: calc(100% - var(--spaceX)* 2);
        -ms-grid-columns: 1fr 0 5rem;
        grid-template-columns: 1fr 5rem;
        bottom: auto;
        top: calc((var(--vh, 1vh)* 100) - var(--headerHeight) - 4rem);
        grid-column-gap: 0;
    }
    .homeVideoItemsWrapper h2 {
        font-size: .6rem;
    }

    .homeVideoContainer::after {
        right: -7px;
    }

    h1.home-title::before, .homeVideoItemsWrapper::before {
        left: -5px;
    }
    button#acceptCookie {margin: 0 auto;}
    h1.home-title {
        display: none;
    }
    .homeElementCounterWrapper {
        display: none;
    }
    section.homeSideBarContainer {
        height: auto;
        width: 42vw;
        top: auto;
        bottom: var(--headerHeight);
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        background-color: var(--white);
        padding: calc(var(--spaceX)*.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) .5s;
    }
    .homeProjectContainer {
        width: 100%;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    .homeProjectWrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 2.375rem;
    }
    .homeProjectWrap:nth-of-type(even) {margin-top: 2.375rem;}
    .homeProjectWrap:nth-of-type(1) {
        margin: 0;
    }
    .projectInfo h2.project_name {
        display: block;
    }
    .projectInfo::before{
        opacity:0
    }
    .projectMedia {
        height: 16vh;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        opacity: 0.5;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }
    .active .projectMedia{
        opacity:1
    }
    .projectInfo {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .projectInfo img.logo {
        margin: 0;
    }
    .title-year {
        margin-top: 0.5rem;
    }
    #mediaHomeWrap {
        height: 16vh;
    }
    .homeItemsWrapper {
        display: none;
    }
    section.homeSideBarContainer.show {
        -webkit-transform: translate(0, -10%);
        -ms-transform: translate(0, -10%);
        transform: translate(0, -10%);
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px){
    section.homeSideBarContainer {
        width: 70vw;
    }
    .projectMedia {
        height: auto;
    }
    #mediaHomeWrap {
        height: 34.5vh;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1199px){
    .title-year {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 0.25rem;
    }
    main.homeWrapper {
        padding-left: var(--spaceX);
        width: 50vw;
    }
    body.mobile main.wrapper.homeWrapper{
        padding-top: calc(var(--headerHeight));
        padding-right: 0;
    }
    body.mobile .swiper {
        width: 100%;
        margin-left: 0;
    }
    .homeProjectWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .homeProjectContainer {
        grid-column-gap: 2rem;
        width: 100%;
    }

    .projectMedia {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        height: 45vh;
    }

    .projectInfo {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: .5rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    h1.home-title {
        /* display: none; */
    }

    .homeElementCounterWrapper {
        /* display: none; */
        width: 100%;
        position: absolute;
        right: 0;
    }
    .homeProjectWrap:nth-of-type(even) {
        margin-top: 40vh;
    }
    section.homeSideBarContainer {
        /* padding: 0; */
        /* top: 50%; */
        /* transform: translateY(-50%); */
        /* height: auto; */
        width: calc(50vw - var(--spaceX) - 5rem);
    }
    .projectMedia {
        height: 17vh;
        opacity: 0.5;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
    #currentProjectName {
        left: 4rem;
    }
    .projectInfo h2.project_name {
        display: block;
    }

    .projectInfo::before {
        opacity: 0;
    }
    body.mobile section.homeSideBarContainer.hide {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px){
    h1.home-title {
        font-size: 1.3rem;
    }
    .homeItemsWrapper {
        margin-top: 1.1rem;
    }
    #mediaHomeWrap {
        height: 24vh;
        margin-bottom: 0.5rem;
    }
    .homeProjectContainer {
        grid-column-gap: 3.263rem;
    }
    .homeProjectWrap {
        -webkit-column-gap: .75rem;
        -moz-column-gap: .75rem;
        column-gap: .75rem;
    }
    #currentProjectName {
        left: 3.5rem;
        padding-bottom: 6px;
    }

    .counterValueBox, .totalProjectBox {
        width: 2.5rem;
    }

    .homeElementCounterWrapper #counterBox span {
        font-size: .875rem;
    }

    body.loadingDone #currentProjectName p {
        font-size: .875rem;
    }
    .projectInfo span.project_year {
        width: 29px;
    }

    .projectInfo img.logo {
        width: 29px;
        height: 29px;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px){
    .projectInfo span.project_year {
        width: 31px;
    }

    .projectInfo img.logo {
        width: 31px;
        height: 31px;
    }
    .homeProjectContainer {
        grid-column-gap: 3.163rem;
    }
    .homeProjectWrap {
        -webkit-column-gap: .75rem;
        -moz-column-gap: .75rem;
        column-gap: .75rem;
    }
    #mediaHomeWrap {
        height: 25vh;
    }
    h1.home-title {
        font-size: 1.4rem;
    }


    #currentProjectName {
        left: 3.5rem;
        padding-bottom: 6px;
    }

    .counterValueBox, .totalProjectBox {
        width: 2.5rem;
    }

    .homeElementCounterWrapper #counterBox span {
        font-size: .875rem;
    }

    body.loadingDone #currentProjectName p {
        font-size: .875rem;
    }
}