/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

section.jobsContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.3fr 1fr;
    grid-template-columns: 0.3fr 1fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

section.jobsContainer h1 {
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    /* margin: 5rem 0 0 0; */
    width: var(--spaceL);
}

section.jobsContainer h1::before{
    content: '';
    background-image: url(../img/secondary-line.svg);
    width: var(--spaceL);
    position: absolute;
    height: 6.188rem;
    background-size: cover;
    background-repeat: no-repeat;
    left: -1rem;
    top: -1rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background-position: right;
}
.jobItemsWrapper {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.25rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.125rem 1.25rem;
}
.jobsItemWrap {
    position: relative;
    width: 100%;
    height: 68vh;
    display: block;
    overflow: hidden;
}

.jobsMedia {
    width: 100%;
    height: 100%;
}

.jobsMedia img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all ease-in-out 0.65s;
    -o-transition: all ease-in-out 0.65s;
    transition: all ease-in-out 0.65s;
}

.jobsInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2.688rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: var(--white);
    z-index: 3;
}
.jobsInfo h2 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 2.25rem;
    font-weight: 700;
}
.jobsInfo span {
    font-size: 0.75rem;
}
.jobsItemWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary);
    mix-blend-mode: multiply;
    z-index: 1;
}
.jobsItemWrap:hover .jobsMedia img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.jobsInfo span:nth-of-type(1) {
    margin-bottom: .8rem;
}

@media only screen and (max-width: 768px) {
    section.jobsContainer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    section.jobsContainer h1 {
        margin: 0 0 2rem 0;
        width: 100%;
        padding-left: var(--spaceLL);
    }

    .jobItemsWrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    section.jobsContainer h1::before {
        left: calc(var(--spaceLL));
        width: calc(var(--spaceLL) + var(--space));
        height: 4rem;
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    .jobsItemWrap {
        height: 50vh;
    }

    .jobsInfo {
        padding: var(--spaceX);
    }

    .jobsInfo h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 640px) and (max-width:768px) {
    .jobItemsWrapper {
        -ms-grid-columns: 1fr 1.25rem 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .jobsItemWrap {
        height: 45vh;
    }
}
@media only screen and (min-width: 769px) and (max-width:1199px) {
    .jobsItemWrap {
        height: 28vh;
    }

    .jobsInfo {
        padding: 1.5rem;
    }

    .jobsInfo h2 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .jobsInfo h2 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
        font-weight: 500;
    }
    .jobsInfo span:nth-of-type(1) {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {
    .jobsItemWrap {
        height: 56vh;
    }
    .jobsInfo h2 {
        font-size: 2.2rem;
        font-weight: 600;
    }
}