/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
*{
    cursor:none;
}
body[data-pagetype="notFound"] main {
    padding: 0;
}
main.notFoundWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}
main.notFoundWrapper section.notFoundSection {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
main.notFoundWrapper section.notFoundSection spline-viewer {
    width: 100%;
    height: 100%;
}
main.notFoundWrapper::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 5rem;
    background-color: var(--white);
    bottom: 0;
    right: 0;
    z-index: 2;
}
.button-group {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -12rem);
    -ms-transform: translate(-50%, -12rem);
    transform: translate(-50%, -12rem);
    z-index: 1;
}
.button-group .btn {
    background-color: var(--darkGray);
    border-radius: 1.875rem;
    color: var(--white);
    padding: 12px 24px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    border: 2px solid var(--green);
    font-size: .875rem;
}
.button-group .btn:hover {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--darkGray);
}
@media only screen and (max-width: 768px){
    .button-group .btn {
        font-size: .75rem;
    }

    .button-group {
        -webkit-transform: translate(-50%, -11rem);
        -ms-transform: translate(-50%, -11rem);
        transform: translate(-50%, -11rem);
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .button-group .btn {
        padding: 10px 22px;
        font-size: .75rem;
    }
    .button-group {
        -webkit-transform: translate(-50%, -10rem);
        -ms-transform: translate(-50%, -10rem);
        transform: translate(-50%, -10rem);
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1600px){
    .button-group .btn {
        padding: 10px 22px;
        font-size: .75rem;
    }
}