/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.projectHeader-element img {
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
}
.projectHeader-container {
    position: sticky;
    top: var(--headerHeight);
    background-color: var(--white);
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    /* backdrop-filter: blur(6px); */
    background-color: rgba(255, 255, 255, .4);
    box-sizing: border-box;
}
.projectHeader-container:before {
    content: '';
    background-image: url(../img/secondary-line.svg);
    width: var(--spaceL);
    position: absolute;
    height: 6.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1rem;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
.projectHeader-container .mobileIcon {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    padding: .5rem 1.5rem .5rem 2.5rem;
    border-radius: 1.5rem;
    font-size: .75rem;
    line-height: 1;
    text-transform: capitalize;
    bottom: calc(6.188rem/2);
    right: 3rem;
    display: none;
}
.projectHeader-container .mobileIcon .close {
    position: absolute;
    right: 1.5rem;
    opacity: 0;
}

.projectHeader-container .mobileIcon > * {
    white-space: pre;
}

.projectHeader-container.opFilter .mobileIcon .close {
    opacity: 1;
}

.projectHeader-container.opFilter .mobileIcon .open {
    opacity: 0;
}
.projectHeader-container .mobileIcon:before {
    content: '';
    background-image: url(./assets/img/link.svg);
    width: .5rem;
    height: .5rem;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: .75rem;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(1);
    transition: all ease-in-out .35s;
}
.projectHeader-wrapper {
    width: 100%;
}
.projectHeader-container_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: .25rem 0;
}

.projectHeader-container_row-above {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: .25rem;
    width: 100%;
}
.projectHeader-container_row-above:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + var(--spaceL));
    height: 1px;
    background-color: var(--primary);
}
.projectHeader-container_row-under {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.projectHeader-container_row-container {
    width: 100%;
}
span.projectHeader-container_row-title {
    display: inline-block;
    color: var(--primary);
    width: 10vw;
    font-size: .75rem;
    font-weight: 400;
    text-transform: capitalize;
}

.projectHeader-container_row-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: .5rem;
    width: 100%;
}

.projectHeader-container_row-items > * {
    cursor: pointer;
    font-size: .75rem;
    text-transform: capitalize;
}
.projectHeader-container_row-items > *.selected {
    font-weight: 700;
    color: var(--primary);
}
.projectHeader-container_row-above .projectHeader-container_row-items > * {
    font-weight: 700;
}


@media only screen and (max-width: 768px) {
    .projectHeader-container .mobileIcon{
        display: block;
    }
    .projectHeader-container_row-above:before{
        content: none;
    }
    .projectHeader-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 6.188rem;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, .4);
        transition: all ease-in-out .45s;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        padding: 1rem 0;
    }
    .projectHeader-container.opFilter .projectHeader-wrapper{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .projectHeader-container_row-above .projectHeader-container_row-items > *{
        font-weight:400;
    }
    .projectHeader-container_row {
        display: block;
    }

    span.projectHeader-container_row-title {
        margin-bottom: .75rem;
    }

    .projectHeader-container_row-items {
        display: flex;
        flex-wrap: wrap;
    }

    .projectHeader-container:before {
        position: relative;
        left: auto;
        right: 0;
        width: 50vw;
        transform: translateY(-50%);
        margin-left: auto;
        background-position: center;
        height: 100%;
    }

    .projectHeader-container {
        padding: 0;
        height: 5.188rem;
    }

}
@media only screen and (min-width: 640px) and (max-width:768px) {}
@media only screen and (min-width: 769px) and (max-width:1199px) {}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
}
@media only screen and (min-width: 1400px) and (max-width:1600px) {}






