/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

main.singleJobWrapper {
    position: relative;
    padding: calc(var(--headerHeight) + 3.875rem) 0 10rem;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
section.singleJobHeroSectionContainer {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 1fr;
    grid-template-columns: 0.4fr 1fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 var(--spaceX) 0 var(--spaceL);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.job-date {
    position: relative;
    margin-top: 13rem;
}
.job-date::before{
    content: '';
    background-image: url(../img/secondary-line.svg);
    width: var(--spaceL);
    position: absolute;
    height: 6.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    left: -1rem;
    top: 50%;
    -webkit-transform: translate(-100%,-50%);
    -ms-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%);
}
.job-date span {
    font-size: 1.5rem;
    display: block;
    font-weight: 700;
    opacity: 0;
    transform: translate(-20px, 30px);
    transition: all ease-in-out .5s;
}
html.loadingDone .job-date span{
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.5s;
}
.job-title-media-wrapper h1.jobTitle {
    margin: 0 0 2.313rem 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0;
    transform: translate(-20px, 30px);
    transition: all ease-in-out .5s;
}
html.loadingDone .job-title-media-wrapper h1.jobTitle{
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.75s;
}
.job-media img {
    width: 100%;
    height: auto;
}
section.singleJobContentFormContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 11.5rem 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 4.813rem;
    grid-column-gap: 11.5rem;
    margin-bottom: 6.625rem;
    padding: 0 var(--spaceX) 0 var(--spaceL);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.singleJobDescription p {
    margin-top: 0;
}
/*=========FORM========*/
form .textTypeInput {
    position: relative;
    margin-bottom: .5rem;
}

form .textTypeInput input {
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    margin-bottom: .875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .textTypeInput::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url(../img/Union.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
form .textTypeInput textarea {
    padding-left: 2rem;
    margin-bottom: .875rem;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
form .textTypeInput input::-webkit-input-placeholder,form .textTypeInput textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--gray);
}
form .textTypeInput input::-moz-placeholder,form .textTypeInput textarea::-moz-placeholder { /* Firefox 19+ */
    color: var(--gray);
}
form .textTypeInput input:-ms-input-placeholder,form .textTypeInput textarea:-ms-input-placeholder { /* IE 10+ */
    color: var(--gray);
}
form .textTypeInput input:-moz-placeholder,form .textTypeInput textarea:-moz-placeholder { /* Firefox 18- */
    color: var(--gray);
}
form .submitForm {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primary);
    width: 50%;
    border-radius: 3.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 1.6rem;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    border: 2px solid var(--primary);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .submitForm input[type="submit"] {
    color: var(--white);
    text-transform: capitalize;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

form .submitForm svg {
    position: absolute;
    left: 37%;
}

form .submitForm:hover svg path {fill: var(--primary);}

form .submitForm svg path {
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

form .submitForm:hover input[type="submit"] {color: var(--primary);}

form .submitForm:hover {
    background-color: var(--white);
}
/*=========FORM========*/
/*========Upload========*/
form .textTypeInput.upload {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 12rem;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2rem;
}
form .upload .wpcf7-form-control-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}
form .upload input[type=file] {
    width: 50%;
    position: absolute;
    height: 3rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

form .upload label * {
    vertical-align: middle;
    cursor: pointer
}

form .upload label span {
    display: inline-block
}

form .upload i.remove {
    display: none;
    width: .9rem;
    height: .9rem;
    background-image: url("../img/close-pixelated.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    z-index: 3;
}

form .upload label span,span.mfcf7-zl-multifile-name {
    word-break: break-all
}
form .upload label {
    font-size: .85rem;
    border: 1px dashed var(--black);
    padding: .75rem;
    width: 100%;
    height: 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
form .upload label span i {
    font-style: normal;
    vertical-align: baseline;
    color: var(--primary);
}
form .warning {
    display: block;
    font-size: 0.625rem;
    padding-top: .5rem;
    color: #9C9C9C;
    position: absolute;
    left: 0;
    top: 100%;
}
form .warning.right {
    left: auto;
    right: 0;
}
form .upload .warning {
    top: calc(50% + 2rem);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*========Upload========*/
section.singleJobCultureContainer h2 {
    font-size: 3.25rem;
    margin-top: 0;
    font-weight: 400;
}
section.singleJobCultureContainer {
    position: relative;
    width: 32vw;
    margin: 0 auto;
}
section.singleJobCultureContainer .content img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
section.singleJobCultureContainer .content .twoColumn{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
@media only screen and (max-width: 768px){
    main.wrapper.singleJobWrapper {
        padding: calc(var(--headerHeight) + 1.875rem) 0 5rem;
    }
    section.singleJobHeroSectionContainer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding: 0 var(--spaceX);
    }
    .job-date {
        margin-top: 0;
        padding-left: calc(var(--spaceL) + 1rem);
    }
    .job-date::before {
        width: 7rem;
        position: absolute;
        height: 6.188rem;
        background-size: contain;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-3.5rem);
        background-position: top;
    }

    .job-title-media-wrapper h1.jobTitle {
        font-size: 2.5rem;
    }

    .job-date span {
        font-size: 1.25rem;
    }

    section.singleJobContentFormContainer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 2.813rem;
        grid-row-gap: 2.5rem;
        margin-bottom: 3.625rem;
        padding: 0 var(--spaceX);
    }
    section.singleJobCultureContainer {
        width: calc(100% - var(--spaceX));
    }
}
@media only screen and (min-width: 640px) and (max-width:768px){}
@media only screen and (min-width: 769px) and (max-width:1199px){
    .job-title-media-wrapper h1.jobTitle {
        font-size: 2.5rem;
    }

    .job-date span {
        font-size: 1.25rem;
    }

    .job-date {
        margin-top: 13rem;
    }

    .job-date::before {
        background-position: center;
    }

    section.singleJobContentFormContainer {
        margin-top: 4.813rem;
        grid-column-gap: 5.5rem;
        margin-bottom: 4.625rem;
    }

    section.singleJobCultureContainer {
        width: 51vw;
    }

    section.singleJobCultureContainer h2 {
        font-size: 2.25rem;
    }

    main.singleJobWrapper {
        padding: calc(var(--headerHeight) + 3.875rem) 0 6rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px){
    main.singleJobWrapper {
        padding: calc(var(--headerHeight) + 1.875rem) 0 6rem;
    }

    .job-title-media-wrapper h1.jobTitle {
        font-size: 2.5rem;
    }

    .job-date span {
        font-size: 1.2rem;
    }

    .job-date::before {
        background-position: center;
    }

    section.singleJobContentFormContainer {
        margin-top: 3.813rem;
        grid-column-gap: 6.5rem;
        margin-bottom: 5.625rem;
    }
    section.singleJobCultureContainer h2 {
        font-size: 2.6rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width:1600px){
    .job-title-media-wrapper h1.jobTitle {
        font-size: 2.6rem;
    }

    .job-date span {
        font-size: 1.4rem;
    }

    section.singleJobContentFormContainer {
        margin-top: 3.813rem;
        grid-column-gap: 5.5rem;
        margin-bottom: 5.625rem;
    }

    section.singleJobCultureContainer h2 {
        font-size: 2.7rem;
    }

    main.singleJobWrapper {
        padding: calc(var(--headerHeight) + 2.875rem) 0 6rem;
    }
}